kaggle.json

# Python
**pycache**/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual environments
*.venv/*
*.venv*/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.whl

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# ruff
.ruff_cache/

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env

# Redis and DB sockets
*.sock

# OS files
.DS_Store
Thumbs.db

# ML ENV
models/*.joblib
models/*.pkl

tmp_*.txt
pytest_*.txt
debug_*.txt
*.log
test_*.txt
terminal*.txt